.trip-list {
  display: flex;
  justify-content: space-around;
}

.trip-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 30%;
  text-align: center;
}

.trip-card img {
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}
.trip-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.trip-images img {
  width: 30%;
  height: auto;
  border-radius: 5px;
}
/* App.css */
.App {
  background-color: #b4b2b2; /* Light grey background */
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
}

header {
  background-color: #0033cc; /* Blue background for the header */
  color: white;
  padding: 10px 20px;
  text-align: center;
}

nav {
  margin: 20px 0;
  text-align: center;
}

nav a {
  color: #0033cc; /* Blue color for the links */
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
